PORT=3000
SESSION_SECRET=change-this
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin
VAPID_PUBLIC_KEY=BPNOu2UPF-vHJkdgrTP_YGnqGvwiHrmun2vXmeOeNdB8YLOOjs_yJAQxQ6N1mgVN-UHMSSPdPRorv4nXfWta120
VAPID_PRIVATE_KEY=ttEroN4l0-kAH_RYI-0DQLIGkzdnUO7orMSBAWlPI_U
VAPID_SUBJECT=mailto:admin@example.com
