PORT=3000
SESSION_SECRET=9f7c2b6a1c4e8d3f5a7b0c9d2e6f1a4b8c3d7e9f2a5b6c8d1e4f7a9b2c5d6e8
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin
VAPID_PUBLIC_KEY=BPNOu2UPF-vHJkdgrTP_YGnqGvwiHrmun2vXmeOeNdB8YLOOjs_yJAQxQ6N1mgVN-UHMSSPdPRorv4nXfWta120
VAPID_PRIVATE_KEY=ttEroN4l0-kAH_RYI-0DQLIGkzdnUO7orMSBAWlPI_U
VAPID_SUBJECT=mailto:admin@example.com
